{{ $jsonPath := .Get "json" }}
{{ $height := .Get "height" | default "200px" }}
{{ $id := printf "plotly-%s" (md5 $jsonPath) | anchorize }}
<div id="{{ $id }}" class="plotly" style="height:{{ $height }}"></div>
<script>
  (function() {
    fetch('{{ $jsonPath | relURL }}')
      .then(response => {
        if (!response.ok) {
          throw new Error('HTTP error ' + response.status);
        }
        return response.json();
      })
      .then(fig => {
        if (typeof Plotly === 'undefined') {
          console.error('Plotly is not loaded');
          return;
        }
        Plotly.plot('{{ $id }}', fig.data, fig.layout, { responsive: true });
      })
      .catch(error => console.error('Error loading Plotly JSON:', error));
  })();
</script>
